
keystore "file:${org.smartfrog.sfcore.security.keyStoreName}", "JCEKS";


grant signedBy "sfcodesigner" {
  permission java.security.AllPermission;
};

// Standard extensions get all permissions by default

grant codeBase "file:${java.home}/lib/ext/*" {
	permission java.security.AllPermission;
};

