\#include "org/smartfrog/components.sf"
\#include "org/smartfrog/services/ssh/sshexecute.sf"
\#include "org/smartfrog/sfcore/workflow/components.sf"
 

sfConfig extends Parallel {
    asynchCreateChild true;
    #foreach ($daemon in $allDaemons)
      $daemon.host extends SSHSessionInlinePassword {
            SSHCmdExec:host "$daemon.host";
            SSHCmdExec:username "$daemon.user";
            password "$daemon.password";
            SSHCmdExec:logFile "${daemon.host}.log";
	    SSHCmdExec:timeout 70000;
	    #if ($daemon.isLinux())
	    commands ["cd ${sharedDir}/daemons/$daemon.host",
			     "export SFHOME=${installDir}/dist",
                             "export PATH=$SFHOME/bin:$PATH",
		             "nohup sfDaemon &"];
	    #elseif ($daemon.isWindows())
            commands ["cd ${sharedDir}",
	                	 ("start_sfdaemon.bat ${daemon.javahome} ${installDir}\\" ++"dist server"), 
				 "net start Daemon"];
	    #end
	}
   #end
}
