<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin> 
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="Generic Eclipse Modeling System"
            extensions="sfml"
            icon="Smartfrog.gif"
            class="org.smartfrog.authoringtool.DSMLEditor"
            contributorClass="org.gems.designer.actions.LogicActionBarContributor"
            id="org.smartfrog.authoringtool.editor">
      </editor>
   </extension>
  
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="SFAuthoringTool"
            id="org.smartfrog.authoringtool">
      </category>
      <wizard
            name="Smartfrog Model"
            icon="Smartfrog.gif"
            category="org.smartfrog.authoringtool"
            class="org.smartfrog.authoringtool.GemsCreationWizard"
            id="org.smartfrog.authoringtool.NewWizard">
      </wizard>
   </extension>
      <extension
         point="org.gems.designer.dsml.serializer">
      <serializer
            class="org.smartfrog.authoringtool.Serializer"
            models="readers,http://www.smartfrog.org/sfml"/>
   </extension>

</plugin>
