<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Mombasa</title>
</head>

<body>
<h1>Mombasa</h1>

Mombasa is the way to see the elephants
<h2>Cluster</h2>
<ul>
    <li><a href="/mombasa-portlet/cluster/view.do">Cluster Links</a></li>
    <li><a href="/mombasa-portlet/cluster/list.do">List the cluster</a></li>
</ul>

<h2>Workflow</h2>
<ul>
    <li><a href="/mombasa-portlet/view.do">Workflow Links</a></li>
    <li><a href="/mombasa-portlet/workflowList.do">List the workflow</a></li>
</ul>


<h2>Other</h2>
<ul>
  <li><a href="/index.jsp">Index.jsp</a></li>
</ul>
</body>
</html>