<html>
<head>
<title>Deploy API</title>
<link href="css/axis-style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Deploy API is live.</h1>
<ol>
  <li><a href="services/Portal/Create">Portal</a></li>
  <li><a href="services/System/">System</a></li>
  <li><a href="services/Version/getVersion">GetVersion</a></li>
  <li><a href="HappyAxis.jsp">HappyAxis (needs functional JSP)</a></li>
</ol>
<h2>Portal</h2>
  <ol>
    <li><a href="services/Portal/Create">Create</a></li>
    <li><a href="services/Portal/Resolve">Resolve</a></li>
    <li><a href="services/Portal/LookupSystem">LookupSystem</a></li>
    <li><a href="services/Portal/GetResourceProperty">GetResourceProperty</a></li>
    <li><a href="services/Portal/GetMultipleResourceProperties">GetMultipleResourceProperties</a></li>
    <li><a href="services/Portal/Subscribe">Subscribe</a></li>
    <li><a href="services/Portal/GetCurrentMessage">GetCurrentMessage</a></li>
  </ol>

<h2>System</h2>
  <ol>
    <li><a href="services/System/AddFile">AddFile</a></li>
    <li><a href="services/System/Resolve">Resolve</a></li>
    <li><a href="services/System/Initialize">Initialize</a></li>
    <li><a href="services/System/Run">Run</a></li>
    <li><a href="services/System/Terminate">Terminate</a></li>
    <li><a href="services/System/Ping">Ping</a></li>
    <li><a href="services/System/LookupSystemLookupSystem">LookupSystem</a></li>
    <li><a href="services/System/GetResourceProperty">GetResourceProperty</a></li>
    <li><a href="services/System/GetMultipleResourceProperties">GetMultipleResourceProperties</a></li>
    <li><a href="services/System/Subscribe">Subscribe</a></li>
    <li><a href="services/System/GetCurrentMessage">GetCurrentMessage</a></li>
  </ol>
</body>
</html>
