h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 2em; color: #999999}
h1 {  }
h2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.3em; color: #000000}
h2 {  font-weight: normal}
h2 {  }
h2 {  }
p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: .8em}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: .9em}
ul {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.8em; list-style-type: square; list-style-position: outside; padding-top: .4em; padding-bottom: .4em; margin-top: .4em; margin-bottom: .4em; clip:  rect(   )}
th {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.8em; font-weight: bold; color: #FFFFFF; background-color: #333333}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.8em}

ol {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.8em}

