<!-- /**
(C) Copyright 1998-2007 Hewlett-Packard Development Company, LP

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

For more information: www.smartfrog.org
*/ -->
body, td, a, p, .h, div {
    font-family: arial,sans-serif;
}

.h {
    font-size: 18px;
}

.q {
    color: #0000cc;
}

.pageHead {
    font-family: arial, sans-serif;
    font-size: 14pt;
}

.headerMenu {
    background: #CCFFFF;
    font-family: arial,sans-serif;
    font-size: 12px;
    cursor: default;
    display:block;
}

.headerMenuItem {
    float:left;
/*    font-family: arial,sans-serif;
    font-size: 12px;
    background: #CCFFFF; 
    cursor: default;
    display: block;
*/
    padding: 0.2em 0.6em;
    font-weight: bold;
}

th.data {
    font-family: arial,sans-serif; 
    font-size: 12px; 
    cursor: default;
    padding: 0.2em 0.6em; 
    font-weight: bold;
    background: #9A9A9A;
}

td.data {
    font-family: arial,sans-serif; 
    font-size: 12px; 
    padding: 0.2em 0.6em; 
    background: #E6E6E6; 
    cursor: default;
}

a {
    text-decoration: none;
    display: block;
    width: 100%;
}

input.default {
    font-family: arial, sans-serif; 
    font-size: 12px; 
    border-style: outset; 
    border-width: 1px;
    background: #E6E6E6; 
}

.btn {
    font-family: arial, sans-serif;
    font-size: 10pt; 
}

.label {
    font-family: arial, sans-serif;
    font-size: 12px; 
    cursor: default;
    padding: 0.2em 0.6em; 
    font-weight: bold;
    background: #9A9A9A;
    width: 40%;
}

.copyright {
    font-family:arial, sans-serif;
    font-size:xx-small;
    text-align:center; 
    color:black;
}

