<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><body>
<font color="BLUE" size="5">Status report<font/>
<table border="1">
<tr>
<td>File: org/smartfrog/services/jmx/example/sfJMXAgent.sf
<td/>
<td>   raw phase: OK<td/>
<td>   type phase: OK<td/>
<td>   place phase: OK<td/>
<td>   function phase: OK<td/>
<td>   sfConfig phase: OK<td/>
<td>   link phase: OK<td/>
<td>, parsed in 563 millisecs.<td/>
<tr/>
<tr>
<td>File: org/smartfrog/services/jmx/example/sfmbean.sf
<td/>
<td>   raw phase: OK<td/>
<td>   type phase: OK<td/>
<td>   place phase: OK<td/>
<td>   function phase: OK<td/>
<td>   sfConfig phase: OK<td/>
<td>   link phase: OK<td/>
<td>, parsed in 1859 millisecs.<td/>
<tr/>
<tr>
<td>File: org/smartfrog/services/jmx/example/dynamicmbean.sf
<td/>
<td>   raw phase: OK<td/>
<td>   type phase: OK<td/>
<td>   place phase: OK<td/>
<td>   function phase: OK<td/>
<td>   sfConfig phase: OK<td/>
<td>   link phase: OK<td/>
<td>, parsed in 1203 millisecs.<td/>
<tr/>
<tr>
<td>File: org/smartfrog/services/jmx/example/modelmbean.sf
<td/>
<td>   raw phase: OK<td/>
<td>   type phase: OK<td/>
<td>   place phase: OK<td/>
<td>   function phase: OK<td/>
<td>   sfConfig phase: OK<td/>
<td>   link phase: OK<td/>
<td>, parsed in 1188 millisecs.<td/>
<tr/>
<tr>
<td>File: org/smartfrog/services/jmx/example/deployment.sf
<td/>
<td>   raw phase: OK<td/>
<td>   type phase: OK<td/>
<td>   place phase: OK<td/>
<td>   function phase: OK<td/>
<td>   sfConfig phase: OK<td/>
<td>   link phase: OK<td/>
<td>, parsed in 1281 millisecs.<td/>
<tr/>
<tr>
<td>File: org/smartfrog/services/jmx/example/mbeanDeployer/jmxSubagents.sf
<td/>
<td>   raw phase: OK<td/>
<td>   type phase: OK<td/>
<td>   place phase: OK<td/>
<td>   function phase: OK<td/>
<td>   sfConfig phase: OK<td/>
<td>   link phase: OK<td/>
<td>, parsed in 813 millisecs.<td/>
<tr/>
<tr>
<td>File: org/smartfrog/services/jmx/example/mbeanDeployer/simpleMBeanDeployerExample.sf
<td/>
<td>   raw phase: OK<td/>
<td>   type phase: OK<td/>
<td>   place phase: OK<td/>
<td>   function phase: OK<td/>
<td>   sfConfig phase: OK<td/>
<td>   link phase: OK<td/>
<td>, parsed in 1078 millisecs.<td/>
<tr/>
<tr>
<td>File: org/smartfrog/services/jmx/example/mbeanDeployer/jmxSimpleMasterAgent.sf
<td/>
<td>   raw phase: OK<td/>
<td>   type phase: OK<td/>
<td>   place phase: OK<td/>
<td>   function phase: OK<td/>
<td>   sfConfig phase: OK<td/>
<td>   link phase: OK<td/>
<td>, parsed in 1625 millisecs.<td/>
<tr/>
<tr>
<td>File: org/smartfrog/services/jmx/example/arithNetManager/launchSubagents.sf
<td/>
<td>   raw phase: OK<td/>
<td>   type phase: OK<td/>
<td>   place phase: OK<td/>
<td>   function phase: OK<td/>
<td>   sfConfig phase: OK<td/>
<td>   link phase: OK<td/>
<td>, parsed in 813 millisecs.<td/>
<tr/>
<tr>
<td>File: org/smartfrog/services/jmx/example/arithNetManager/launchArithExample.sf
<td/>
<td>   raw phase: OK<td/>
<td>   type phase: OK<td/>
<td>   place phase: OK<td/>
<td>   function phase: OK<td/>
<td>   sfConfig phase: OK<td/>
<td>   link phase: OK<td/>
<td>, parsed in 1437 millisecs.<td/>
<tr/>
<table/><font color="BLUE" size="5">Error report<font/>
<table border="1">
<table/><body/>
<html/>
