
@charset "UTF-8" ;
/**
* apache ant settings
 * apache license
*/

body {
    font: normal 68% "Bitstream Vera Sans",verdana, arial, helvetica;
    color: black;
    background: white;
}

table tr td, table tr th {
    font-size: 68%;
}

table.details tr th {
    font-weight: bold;
    text-align: left;
    background: #a6caf0;
}

table.details tr td {
    background: #eeeee0;
}

p {
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 1.0em;
    
}

h1 {
    margin: 0px 0px 5px;
    font: 165% "Bitstream Vera Sans",verdana, arial, helvetica;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font: bold 125% "Bitstream Vera Sans",verdana, arial, helvetica;
}

h3 {
    margin-bottom: 0.5em;
    font: bold 115% "Bitstream Vera Sans",verdana, arial, helvetica;
}

h4 {
    margin-bottom: 0.5em;
    font: bold 100% "Bitstream Vera Sans",verdana, arial, helvetica;
}

h5 {
    margin-bottom: 0.5em;
    font: bold 100% "Bitstream Vera Sans",verdana, arial, helvetica;
}

h6 {
    margin-bottom: 0.5em;
    font: bold 100% "Bitstream Vera Sans",verdana, arial, helvetica;
}

/* new types for test results*/

/**
* these are the titles for the different tests
*/

.testblock {
    border: solid 2px;
    border-color: #6f0000;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

.failure {
    color: red;
    font-weight: bold;
    font-size: larger;
    display: block;

}

.success {
    color: green;
    font-weight: bold;
    font-size: larger;
    display: block;
}

.error {
    color: red;
    font-weight: bold;
    font-size: larger;
    display: block;
}

.test-duration {
}

.fault {
    color: red;
    font-weight: bold;
}

.faultblock {
    border: solid 0 px;
    border-color: #6f0000;
    display: block;
}

.fault-frame {
    font-family: monospace;
    font-size: x-small;
    background-color: #ccccff;
    color:black;
    white-space:nowrap;
}

.fault-message {
  color: red;
/*  font-weight: bold; */
}

.test-text {

}

.title {
  margin: 0px 0px 5px;
  font: 165% "Bitstream Vera Sans",verdana, arial, helvetica;
  font-weight: bold;
}


.summary {
    border: solid 2px;
    display:block;
    margin-top: 2em;
    margin-bottom: 2em;
}

.summary-title {
    font-size: x-large;
    font-weight: bold;
    background: #a6caf0;
    color: black;
}

.summary-table {
    border: solid 0px;
}


table.summary-table  tr th {
    font-size: large;
    font-weight: bold;
    text-align: left;
    background: #a6caf0;
    color: black;
}

table.summary-table tr td {
    font-size: large;
    background: #eeeee0;
    color: black;
}

td-success tr td{
  font-size: large;
  background: #eeeee0;
  color: green;
}

td-failures tr td{
  font-size: large;
  background: #eeeee0;
  color: orange;;
}

td-errors tr td{
  font-size: large;
  background: #eeeee0;
  color: red;
}

.log-stderr {
  color: orange;
  font-size: small;
}

.log-stdout {
  color: blue;
  font-size: small;
}


.log-debug {

}

.log-trace {

}

.log-ignore {

}

.log-info {

}

.log-warn {

}

.log-error {

}

.log-fatal {

}

.log-unknown {

}
